* {
  margin: 0;
  padding: 0;
}
body {
  background: url("https://picsum.photos/seed/picsum/1020/500");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
.game {
  display: flex;
  width: 100%;
}
.score {
  width: 350px;
  height: 520px;
  color: white;
  margin-right: 150px;
  margin-top: 120px;
  background: #c7cece;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  text-align: center;
  transform: translateX(130%);
  animation-name: score;
  animation-duration: 1000s;
}
.board {
  width: 500px;
  height: 500px;
  border: 20px solid #c7cece;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 100px auto;
  background: #534646;
  position: relative;
  transform: translateY(-110%);
  animation-name: pop;
  animation-duration: 1000s;
}
.r {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 33%;
}
.b1 {
  flex-basis: 33%;
  background: white;
  height: 100%;
}
.r2 {
  top: 33.5%;
}
.r3 {
  top: 67%;
}

.b1 {
  width: 100%;
  height: 100%;
  font-size: 170px;
  text-align: center;
  font-family: consolas;
  line-height: 100%;
  opacity: 1;
  cursor: pointer;
  transition: 1s;
  color: white;
}
.mybutton {
  margin-top: 50px;
  padding: 15px;
  text-align: center;
}
.mybutton {
  width: 150px;
  height: 50px;
  outline: none;
  background: navy;
  box-shadow: 0px 5px 5px 0px black;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 5px 0px 5px 0px;
  cursor: pointer;
}

@keyframes pop {
  0% {
    transform: translateY(-110%);
  }
  0.1% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes score {
  0% {
    transform: translateX(150%);
  }
  0.1% {
    transform: translateX(150%);
  }
  0.3% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0%);
  }
}

.score h1 {
  color: orange;
  font-family: consolas;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
.score h2 {
  color: navy;
  font-family: consolas;
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
}
.score h3 {
  color: orange;
  font-family: consolas;
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}
